.container {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
  justify-content: center;
  margin: 1em 0;
}

.count {
  font-weight: bold;
}

.label {
  width: min-content;
}
